body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
overflow: hidden;
}
.navbar-brand
{
    font-family: Architects Daughter;
    font-size: 1.5rem;
    font-weight: 800;
}
.loading{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
}
#btn-up{
    position: fixed;
    bottom: 0;
    right: 10px;
    display: none;
}

nav{
    transition: background-color 0.5s;


}
.bg-black{
    background-color: black;
    padding: 5px 10px;
}

header
{
    background-image: url(./../images/background1.jpeg);
    height: 620px;
    background-size: cover;
    position: relative;
}
header .container p
{
    font-weight: 500;
}
header .social-icons
{
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding-left: 20px;
}
.social-icons a
{
    padding-left: 10px;
}
.title
{
    position: relative;

}
.title h2
{
    color: #f1f1f1;
    font-size: 3rem;
    font-weight: 800;
}
.title h3
{
    position: absolute;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 5px;

}
.project
{
    position: relative;
    overflow: hidden;
}
.project-info
{
   background-color:rgba(0, 0, 0, 0.5);
   height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transition-duration: 1s;
    color: #fff;
}
.project:hover .project-info
{
top: 0;}
.project-info h3
{
    background-color: gray ;
}
#projects
{
    background-color: aliceblue;

}
#contact
{
    background-color: beige;
}


.spinner {
    margin: 250px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
